<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-compatible", content="IE=edge">
    <title>Portifólio Kingdom</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- essa é a biblioteca GSAP do JS que permite as animações que vamos utilizar -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
</head>
<body>
    {{{body}}}

    <scripts src="/scripts/animations.js"></scripts>
</body>
</html>