<section class="container">
    <div class="container_marcacao">
        <h3 class="marcacao_titulo">Developed by<br>Martins</h3>
    
        <ul class="container_lista">
            <li class="lista_item">Sobre mim</li>
            <li class="lista_item">Curiosidades</li>
            <li class="lista_item">Profissional</li>
            <li class="lista_item">Redes sociais</li>
        </ul>
    </div>

    <img src="https://pbs.twimg.com/media/FakDvPzVUAALjcu.jpg" alt="imagem inicial" class="imagem_fundo">
</section>