<section class="container">
    <img src="https://pbs.twimg.com/media/FakDvPzVUAALjcu.jpg" alt="imagem inicial" class="imagem_fundo">

    <div class="container_marcacao">
        <h3 class="marcacao_titulo"><span class="efeito_borda">Developed by</span><br>Martins</h3>
    
        <ul class="container_lista">
            <li class="lista_item"><span class="borda_bottom">Sobre mim</span></li>
            <li class="lista_item"><span class="borda_bottom">Curiosidades</span></li>
            <li class="lista_item"><span class="borda_bottom">Profissional</span></li>
            <li class="lista_item"><span class="borda_bottom">Redes sociais</span></li>
        </ul>
    </div>
</section>