<section class="inicial_tela">
    <video class="inicial_video" autoplay muted loop>
        <source src="/assets/dive_inicial.mp4" type="video/mp4">
    </video>
    <div class="linha_effect"><a class="inicial_link" id="btn_start" href="/home">Continue?</a></div>

    <div class="transicao" id="camada_transicao">
        <video class="transicao_video" id="video_transicao" playsinline muted>
            <source src="/assets/intro_home.mp4" type="video/mp4">
        </video>
    </div>
</section>
