@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
:root {
    --fonte-home:"Orbitron", sans-serif;
    --tamanho-home: 20px;
    --cinza-inativo: #808080;
    --vermelho-opcoes: #c11a1a;
    --degrade-vertical-vermelho:linear-gradient(180deg, #000000,#000000,#c11a1a);
    --degrade-horizontal-vermelho:linear-gradient(90deg, #000000,#c11a1a);
}

.container {
    opacity: 0;
}

.container_marcacao {
    align-content: end;
    z-index: 2;
    height: 100vh;
    position: relative;
}

.marcacao_titulo {
    color: #808080;
    font-size: 2em;
    padding-left: 15px;
}

.efeito_borda {
    background-image: linear-gradient(to right, #808080, transparent);
    background-position: 0 100%; 
    background-repeat: no-repeat;
    background-size: 100% 4px; 
    display: inline-block;
}

.imagem_fundo {
    width: 50vw;
    height: 100vh;
    z-index: 1;
    position: absolute;
    bottom: 0;
    right: 0;
}

.container_lista {
    list-style: none;
    padding: 50px 0 40px 50px;
    display: block;
}

.lista_item {
    display: flex;
    font-size: 35px;
    font-family: var(--fonte-home);
    margin-bottom: 10px;
    color: var(--cinza-inativo);
    font-weight: 500;
    background-image: linear-gradient(to left, #808080 5%, transparent 25%);
}

.lista_item::before {
    content:"";
    width: 30px;
    height: 30px;
    border: 10px solid var(--cinza-inativo);
    background-color: var(--cinza-inativo);
}

.lista_item:hover::before {
    background-color: #fff;
    border-color: #000;
}

.borda_bottom {
    background-image: linear-gradient(to right, #808080 20%, transparent 80%);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 100% 5px;
    display: block;
}

.lista_item:hover {
    background-image: linear-gradient(to left, #b94a25 5%, transparent 25%);
    color: #000;
    text-shadow: 3px 3px 4px var(--cinza-inativo);
}

.borda_bottom:hover {
    background-image: linear-gradient(to right, #000 20%, transparent 80%);
}

